<!DOCTYPE html>
<html lang="en">
<head>
	<title>Scoreboard</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="title"> Scoreboard </div>
				<div class="table">
					<div class="row header">
						<div class="cell">
							#
						</div>
						<div class="cell">
							Nickname
						</div>
						<div class="cell">
							Max Score
						</div>
						<div class="cell">
							Games
						</div>
					</div>
					
					<% for (let user of users) {%>
					<div class="row">
						<div class="cell data" data-title="Rank">
							<%= user.rank %>
						</div>
						<div class="cell data" data-title="Nickname">
							<%= user.nickname %>
						</div>
						<div class="cell data" data-title="Points">
							<%= user.maxScore %>
						</div>
						<div class="cell data" data-title="Games">
							<%= user.games %>
						</div>
					</div>
					<% } %>
				</div>
			</div>
		</div>
	</div>

</body>
</html>